/*Background*/

.wrapper {
    margin: 0;
    padding: 0;
    background-color: #f3eee5;

}

/* Header */
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f8D3D3;
    padding-left: 10px;
}

.title {
    font-size: 30px;
    color: #d979af;
    font-family: 'Euphoria Script', cursive;
    letter-spacing: 2px;

}

.title a {
    text-decoration: none;
    color: #d979af;
}

.logo {
    height: 80px;
}

/* Main body */

/*.grid {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-gap: 2%;
}*/

.config {

    border-radius: 2em;
    padding: 1em;
}

/* Products*/

/*.products-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    border: 1px solid rgba(255, 0, 0, 0.685);
    border-radius: 1em;
}*/

/* Products title*/

.subtitle {
    text-align: center;
    font-style: italic;
    font-family: 'Darker Grotesque', sans-serif;
    color: #182242;
}

/* Product Card*/

.card {
    border-radius: 2em;
    margin: 5%;
    padding: 2% 1%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    background-color: #ffffff;
    box-shadow: 8px 7px 28px 3px rgba(24,34,66,0.35);
}   

.card img {
    height: auto;
    width: 200px;
    border-radius: 1em;
}

.card h2 {
    font-size: 15px;
    text-align: center;
    font-style: italic;
    margin-bottom: 0;
}

.card p {
    font-size: 18px;
    margin: 10px;
    font-style: italic;
}

.card button {
    padding: 3%;
    font-size: 14px;
    border: none;

    border-radius: 1em;

}

/* Shopping Cart */

.cart-element {

    border-radius: 1em;
    max-width: 23em;
}

#cart {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    list-style: none;
}

.list {

    border-radius: 10px;
    padding: 15px;

    font-size: 20px;
    margin-top: 10px;
    width: 200px;
    text-align: center;
}

/*Media Queries */

@media screen and (min-width: 768px ) {

    .title {
        font-size: 50px;
    
    }
}