.form {
    background-color: pink;
    border-radius: 1em;
    padding: 1% 2%;

}

input, label, select {
    display: inline-block;
    flex-grow: 1;
    margin-top: 10px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

